@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  /* Colors */

  --color-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: var(--color-dark-blue);
  background-color: var(--color-light-blue);
  line-height: 1.5;
}

.card-container {
  margin: 20% 10%;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.header-image {
  inline-size: 100%;
  block-size: 40%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.header-image img {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.preview {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.preview h1 {
margin-block-start: 2.5rem;
  margin-inline: 2.25rem;
  font-weight: 700;
  color: var(--color-dark-grayish-blue);
}

.preview p {
  margin-inline: 2.25rem;
}

/* card author */
.card-footer {
  display: flex;
  margin: 1rem 2.25rem;
  justify-content: space-between;
  justify-self: flex-end;
}

.author-info {
  display: flex;
  gap: 1rem;
}

.author {
  display: flex;
  flex-direction: column;
}

.author-name {
  color: var(--color-dark-grayish-blue);
  font-weight: 700;
}

.share {
  border-radius: 50px;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
}

button:hover {
  cursor: pointer;
}

.share img {
  width: 1.25rem;
}

.author-info img {
  inline-size: 3rem;
  border-radius: 50%;
}

/* card share */
.card-share {
  background-color: var(--color-dark-grayish-blue);
  padding: 1.25rem 2.25rem;
  display: flex;
  display: none;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.card-share span {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: var(--color-dark-blue);
  text-transform: uppercase;
}

.card-share img {
  inline-size: 1.25rem;
  block-size: 1.25rem;
}

.share-inline-start {
  display: flex;
  gap: 1rem;
}

.share-inline-end {
  align-self: flex-end;
}

.share-active {
  background-color: var(--color-dark-blue);
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  .card-container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5 1fr);
    inline-size: 50%;
  }

  .header-image {
    grid-column: 1 / 3;
    aspect-ratio: 1;
    width: 100%;
    height: 100%;

    min-inline-size: 150px;
    margin: 0;
  }

  .header-image img {
    height: 100%;
    object-fit: cover;
  }

  .preview {
    grid-column: 3 / 5;
    padding: 2.5rem;
  }
}
