@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  /* Colors */

  --color-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: var(--color-dark-blue);
  background-color: var(--color-light-blue);
  line-height: 1.5;
}

.card-container {
  margin: 20% 10%;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.header-image {
  inline-size: 100%;
  block-size: 40%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.header-image img {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.preview {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.preview h1 {
  font-weight: 700;
  color: var(--color-dark-grayish-blue);
}

/* card author */
.card-footer {
  display: flex;
  /* display: none; */
  justify-content: space-between;
}

.author-info {
  display: flex;
  gap: 1rem;
}

.author {
  display: flex;
  flex-direction: column;
}

.author-name {
  color: var(--color-dark-grayish-blue);
  font-weight: 700;
}

.share {
  border-radius: 50px;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
}

button:hover {
    cursor: pointer;
}

.share img {
  width: 1.25rem;
}

.author-info img {
  inline-size: 3rem;
  border-radius: 50%;
}

/* card share */
.card-share {
  background-color: var(--color-dark-grayish-blue);
  margin: -2.5rem;
  margin-top: 2.5rem;
  padding: 1rem 2rem;
  display: flex;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.card-share p {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: var(--color-dark-blue);
}

.card-share img {
  inline-size: 1.25rem;
  block-size: 1.25rem;
}

.share-inline-start {
  display: flex;
  gap: 1rem;
}

.share-inline-end {
  align-self: flex-end;
}

.card-share p {
  text-transform: uppercase;
}

.share-active {
  background-color: var(--color-dark-blue);
}
